<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
</head>
<body>
<h1>Create New User</h1>
<form th:action="@{/admin/new}" th:object="${user}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required><br>

    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" th:field="*{lastname}" required><br>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <!-- Add more input fields for other user properties if needed -->
    <label>Roles:</label><br>
    <select multiple="multiple" name="role">
        <option th:each="role : ${allRoles}" th:value="${role.role}" th:text="${role.role}"></option>
    </select><br>

    <button type="submit">Save User</button>
</form>
</body>
</html>