<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>User Info</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>User Info</h1>-->
<!--<div id="userInfo"></div>-->

<!--<script>-->
<!--    fetch("/user")-->
<!--        .then(response => response.json())-->
<!--        .then(user => {-->
<!--            const userInfo = document.getElementById("userInfo");-->
<!--            if (user) {-->
<!--                userInfo.innerHTML = `-->
<!--                        <p>Name: ${user.name}</p>-->
<!--                                               `;-->
<!--            } else {-->
<!--                userInfo.textContent = "User not found.";-->
<!--            }-->
<!--        })-->
<!--        .catch(error => console.error("Error fetching user info:", error));-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
